.navbar {
  display: flex;
  margin-top: 32px;
  min-width: 320px;
  padding: 16px;
  transition: all var(--transition-duration);
  position: relative;

  @media (max-width: 768px) {
    margin-top: 64px;
  }

  &__menu {
    display: flex;
    gap: 32px;
    align-items: center;
    margin: 0 auto;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 16px;

    li a {
      text-decoration: none;
      font-weight: 500;
      padding: 6px 10px;
      border-radius: 4px;
      border: 1px solid transparent;
      transition: all var(--transition-duration);
      border: 1px solid;

      &:hover {
        transform: translateY(-1px);
        opacity: 0.8;
      }
    }
  }
}
