.sectionRoll {
  flex-direction: column;
  gap: 48px;
  display: flex;
  padding: 16px;
  margin-top: 32px;

  @media (max-width: 768px) {
    padding: 0;
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &-experience {
      &-header {
        display: flex;
        align-items: baseline;
        gap: 16px;
        margin-bottom: 8px;
        justify-content: space-between;

        @media (max-width: 768px) {
          flex-direction: column;
          gap: 8px;
        }
      }

      &-title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0.02em;
        color: var(--text-color);
        transition: color var(--transition-duration);
        margin: 0;
      }

      &-year {
        font-size: 14px;
        font-weight: 400;
        color: #999;
        transition: color var(--transition-duration);
        white-space: nowrap;
      }

      &-company {
        text-decoration: underline;
        color: var(--text-color);
        font-size: 16px;
        font-weight: 500;
        text-underline-offset: 4px;
        transition: color var(--transition-duration);
        margin-bottom: 16px;
        display: inline-block;
      }

      &-description {
        margin-left: 16px;
        padding-left: 16px;
        border-left: 1px solid var(--text-color);
        color: var(--text-color);
        transition: color var(--transition-duration), border-color var(--transition-duration);

        @media (max-width: 768px) {
          margin-left: 0;
        }
      }
    }
  }
}