.sectionRoll {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  &-item {
    &-experience {
      margin-left: 16px;
      &-title {
        margin: 22px 0;
      }
      &-title::before {
        content: "| ";
        color: white;  
      }
    }
  
      p {
        &:first-child{
          margin-top: 16px;
        }

        margin-left: 16px;
        padding: 16px;
        border-left: 1px solid;
      }
  }
}