.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: hsl(var(--background));
  border-bottom: 1px solid hsl(0 0% 85%);

  &__nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 3rem;

    a,
    button {
      background: none;
      border: none;
      color: hsl(var(--foreground));
      font-size: 0.975rem;
      cursor: pointer;
      transition: opacity 0.2s;
      font-weight: 400;
      font-family: var(--font-jet-sans);
      text-decoration: none;

      &:first-child {
        font-weight: 700;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__controls {
    margin-left: auto;
    display: flex;
    gap: 1rem;
  }

  &__controlsDesktop {
    margin-left: auto;
    display: flex;
    gap: 1rem;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__icon-button {
    background: none;
    border: none;
    color: hsl(var(--foreground));
    cursor: pointer;
    transition: opacity 0.2s;
    display: flex;
    align-items: center;
    gap: 0.25rem;

    &:hover {
      opacity: 0.6;
    }
  }

  &__lang-text {
    font-size: 0.75rem;
    font-weight: 500;
  }

  &__topbar {
    display: none;
  }

  &__home-button {
    background: none;
    border: none;
    color: hsl(var(--foreground));
    cursor: pointer;
    transition: opacity 0.2s;
    display: flex;
    align-items: center;
    padding: 0;

    &:hover {
      opacity: 0.6;
    }
  }

  @media (max-width: 768px) {
    padding: 2rem 1.5rem;
    flex-direction: column;
    gap: 1.5rem;

    &__topbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &__nav {
      position: static;
      transform: none;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;

      a:first-child,
      button:first-child {
        display: none; // Hide home link in mobile nav
      }
    }

    &__controls {
      margin-left: 0;
    }
  }
}