@font-face {
  font-family: 'JetBrains Mono';
  src: url('../assets/fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-color: #ffffff;
  --text-color: #000000;

  --font-jet-sans: 'JetBrains Mono', sans-serif;
  --max-width-content-home: 890px
}

[data-container-home]{
  max-width: var(--max-width-content-home);
  margin: 0 auto;
}

html[data-theme="dark"] {
  --bg-color: #1a1a1a;
  --text-color: #f5f5f5;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.3s;
  font-family: 'JetBrains Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
