.navbar {
  display: flex;
  color: white;
  margin-top: 32px;
  min-width: 320px;
  padding: 16px;

  &__menu {
    display: flex;
    gap: 32px;
    align-items: center;
    margin: 0 auto;
  }

  ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;

    li a {
      color: white;
      text-decoration: none;
      font-weight: 500;
      background: #262626;
      padding: 6px 10px;
      border-radius: 4px;
    }
  }
}
