.footer {
  margin: 0 auto;
  max-width: 900px;
  padding: 64px;
  border-top: 1px solid;
  margin-top: 32px;

  @media (max-width: 768px) {
    padding: 16px;
    padding-top: 32px;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;

    &__email {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    a, button {
      display: flex;
      align-items: center;
      gap: 10px;
      background: none;
      padding: 6px;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  &__copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
  }
}