.footer {
  margin: 0 auto;
  max-width: 900px;
  padding: 24px;
  border-top: 1px solid;
  margin-top: 32px;

  @media (max-width: 768px) {
    padding: 16px;
    padding-top: 32px;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;

    &__email {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: var(--radius-sm);
    cursor: pointer;
    transition: opacity var(--transition-duration) var(--transition-timing);
    color: var(--text-color);

    svg {
      fill: var(--text-color);
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;

    p {
      color: var(--text-color);
      font-size: 0.875rem;
    }
  }
}